@import "minima/fastpages-styles";   
$high-emph: rgba(white, 0.87); // Colour 1 -> White
$med-emph: rgba(white, 0.69); //Noice
$low-emph: rgba(white, 0.38);
$dark-grey : #121212; // Colour 2
$overlay: mix($deep-pu, white, 95%);
$overlay-light: mix($deep-purple, white, 86%);
<<<<<<< HEAD

* {
    scrollbar-color: $dark-grey $overlay-light;
}

canvas {
    filter: invert(100%);
}

=======

* {
    scrollbar-color: $dark-grey $overlay-light;
}

canvas {
    filter: invert(100%);
}

>>>>>>> 5eadbf61dadd6b7a6038f9764c2713612990e0d9
table th {
    background-color: $overlay;
    border-color: $overlay-light;
    color: $high-emph;
}

table td {
    background-color: $dark-grey;
    border-color: $overlay-light;
    color: $med-emph;
}


/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/
@import "minima/fastpages-dracula-highlight"; 
<<<<<<< HEAD
@import "minima/dark-mode";
=======
@import "minima/dark-mode";
// If you want to turn off dark background for syntax highlighting, comment or delete the below line.

>>>>>>> 5eadbf61dadd6b7a6038f9764c2713612990e0d9
